@model IEnumerable<DidimdeKirala.WebUI.Data.Mahalle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MahalleAd)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.MahalleninIlcesi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MahalleAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MahalleninIlcesi.IlceID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MahalleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MahalleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MahalleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
